<div ng-app="app">
    <div ng-controller="ngHomeController">

        <br />
        <input type="text" placeholder="Name" ng-model="pokemon.name"  />
        <input type="text" placeholder="Type" ng-model="pokemon.type" />
        <button ng-click="addPokemon(pokemon)">Add Pokemon</button>


        <table class="table table-bordered">
            <tr ng-repeat="pokemon in pokemons">
                <td>
                    <span ng-hide="editing">
                        {{pokemon.Name}}
                    </span>

                    <input type="text" placeholder="Name" ng-model="pokemon.Name" ng-hide="!editing" />
                   
                </td>
                <td>
                    <span ng-hide="editing">
                        {{pokemon.Type}}
                    </span>

                    <input type="text" placeholder="Type" ng-model="pokemon.Type" ng-hide="!editing" />
                </td>
                <td>
                    <button ng-click="editing = true" ng-hide="editing" >Edit</button>
                    <button ng-click="editing = false; savePokemon(pokemon);" ng-hide="!editing">Save</button>
                    <button ng-click="editing = false; getAllPokemon();" ng-hide="!editing">Cancel</button>
                    <button ng-click="deletePokemon(pokemon)" ng-hide="editing">Delete</button>
                </td>

            </tr>
        </table>
    </div>


    <script src="~/App/Scripts/angular.js"></script>

    <script src="~/App/Scripts/Main.js"></script>
</div>